{
    "acf_pro_key": "",
    "jira": {
        "username": "",
        "password": "",
        "site": ""
    },
    "projects": [
        {
            "github": "",
            "jira": ""
        }
    ]
}
